.product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color:var(--white);
    border-radius: 10px;
}

.product-container__title{
    /* background-color: tomato; */
    margin: 10px ;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-container p {
    padding: 5px;
}

.product-container img {
   border-radius: 6px;
   width: 180px;
   height: 180px;
}

.product-container button {
    color: var(--white);
    background-color: var(--red);
    width: 80%;
    padding:8px 0;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}