.cart-item{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    margin: 4px 0;
    border: solid 1px var(--gray);
}

.cart-item__title{
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-item img{
    width: 60px;
    height: 60px;
}

.cart-item__qty{
    display: flex;
    width: 80px;
    align-items: center;
    margin: 0 10px;
    justify-content: space-between;

}

.cart-item i{
    cursor: pointer;
}